<div class="avengers-single__header" style="background-image: url('{{{image}}}');"></div>
<h1 class="avengers-single__title">"{{{real_name}}}" a.k.a. {{{alias}}}</h1>
<p class="avengers-single__description">{{{description}}}</p>
<a class="avengers-single__button js-back-button">Back to Selection</a>