<label for="gender-toggle">Filter Gender:</label>
<select id="gender-toggle" class="dropdown filter js-filter" data-filter-key="gender">
    <option value="" selected></option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
</select>

<label for="order-by">Order By:</label>
<select id="order-by" class="dropdown order-by js-order-by">
    <option value="" selected></option>
    <option value="alias">Alias</option>
    <option value="gender">Gender</option>
</select>